/* start header */
header {
    height: 90vh;
    background-image: url(../imgs/home/1.jpg);
}
/* end header */





/* start sponsor section */
.sponsor {
    padding: 25px 0;
    border-bottom: 1px solid #ebe9e9;
    margin-bottom: 50px;
}
.sponsor .row img {
    width: 200px;
}

/* media querry */
@media (max-width:991px) {
    .sponsor .row img {
        width: 250px !important;
    }
}
/* end sponsor section */




/* start solutions section */
.solutions .title {
    padding-bottom: 50px;
}
.solutions .title h4 {
    color: var(--grayColor);
}
.solutions .row .tabs {
    /* margin-bottom: 50px; */
    border: 1px solid #bdbcbc;
    border-radius: 20px;
    padding: 10px 20px;
}
/* .solutions .row .tabs::before {
    content: "";
    position: absolute;
    height: 50%;
    width: 2px;
    background-color: #bdbcbc;
    right: 0;
    margin-right: 350px;
} */
.solutions .row .tabs h5 {
    color: var(--blackColor);
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 30px;
}
.solutions .row .tabs p {
    font-size: 18px;
    color: #608cca;
    cursor: pointer;
    margin-bottom: 0;
    padding: 10px 20px;
}
.solutions .row .tabs p:not(:last-child) {
    border-bottom: 1px solid #bdbcbc;
    border-radius: 10px;
}
.solutions .tabs p.active,
.solutions .tabs p:hover {
    color: var(--navyBlue);
}
.solutions .tabs-content h5 {
    color: #608cca;
}
.solutions .tabs-content > .solution:not(:first-child) {
    display: none;
}
.solutions .tabs-content p {
    padding-left: 30px;
}

/* media querry */
@media (max-width:991px) {
    .solutions .tabs-content {
        width: 400px;
    }
    .solutions .col-solutions {
        width: 300px;
    }
}
@media (max-width:767px) {
    .solutions .tabs-content {
        width: 100%;
    }
    .solutions .col-solutions {
        width: 100%;
    }
    .solutions .row .tabs {
        margin-bottom: 50px;
    }
}
@media (max-width:575px) {
    .solutions .row-solutions .solution .d-flex {
        display: block !important;
    }
}
/* end solutions section */




/* start intro section */
.intro .box {
    background-color: var(--cyanGreenColor);
    color: var(--whiteColor);
    padding: 20px 40px;
    border-radius: 20px;
}
/* end intro section */





/* start AutomatedChat section */
.section .row .section-text .text-arb {
    background-color: var(--blackColor);
    color: var(--whiteColor);
    text-align: right;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px 40px;
    height: 100%;
}
.section .row .section-img {
    background-image: url(../imgs/home/smartphone.jpg);
    background-size: cover;
    background-position: center center;
    height: 100%;
    margin-left: -24px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.section .row .section-img h1 {
    color: var(--whiteColor);
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 50px;
    position: absolute;
    margin-top: 30px;
}

/* media querry */
@media (max-width:991px) {
    .section .row .section-text .text-arb {
        padding: 10px 40px;
        line-height: 24px;
    }
}
@media (max-width:767px) {
    .section .row .section-text .text-arb {
        line-height: 28px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .section .row .section-img {
        height: 250px;
        margin-left: 0;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 0;
    }
}
@media (max-width:575px) {
    .section .row .section-text .text-arb {
        padding: 10px;
    }
}
/* end AutomatedChat section */





/* start RecommendationEngines section */
.RecommendationEngines .row .section-text .text-arb {
    background-color: var(--cyanGreenColor);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.RecommendationEngines .row .section-img {
    background-image: url(../imgs/home/pexels-alex-tepetidis-5279346.jpg);
    margin-right: -24px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
/* media querry */
@media (max-width:767px) {
    .RecommendationEngines .row .section-text .text-arb {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .RecommendationEngines .row .section-img {
        height: 250px;
        margin-right: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}
/* end RecommendationEngines section */





/* start ImageAndVoiceSearch section */
.ImageAndVoiceSearch .row .section-img {
    background-image: url(../imgs/home/pexels-brett-sayles-1080746.jpg);
}
.ImageAndVoiceSearch .row .section-text .text-arb {
    background-color: var(--cyanGreenColor);
}
/* media querry */
@media (max-width:991px) {
    .ImageAndVoiceSearch .row .section-img h1 {
        font-size: 25px;
    }
}
@media (max-width:767px) {
    .ImageAndVoiceSearch .row .section-img h1 {
        font-size: 30px;
    }
}
/* end ImageAndVoiceSearch section */




/* start CustomerIntelligence section */
.CustomerIntelligence .row .section-text .text-arb {
    background-color: var(--blackColor);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.CustomerIntelligence .row .section-img {
    background-image: url(../imgs/home/ai-background-business-technology-digital-transformation.jpg);
    margin-right: -24px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
/* media querry */
@media (max-width:767px) {
    .CustomerIntelligence .row .section-text .text-arb {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .CustomerIntelligence .row .section-img {
        height: 250px;
        margin-right: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}
/* end CustomerIntelligence section */





/* start Retargeting section */
.Retargeting .row .section-img {
    background-image: url(../imgs/home/remarketing-retargeting-are-they-the-same-thing-5f6202c7a554f.png);
}
/* end Retargeting section */





/* start conclusion section */
.conclusion {
    margin-bottom: 50px;
}
.conclusion .box {
    background-color: var(--cyanGreenColor);
    color: var(--whiteColor);
    padding: 20px 40px;
    border-radius: 20px;
}
.conclusion .box h1 {
    font-weight: bold;
}