/* link google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Londrina+Outline&family=Londrina+Shadow&family=Roboto:wght@300;400;500;700&family=Sriracha&family=Tajawal:wght@300;400;700&display=swap');

:root {
    --grayColor: #aaa8a8;
    --cyanGreenColor: #51a29d;
    --navyBlue: #393e57;
    --whiteColor: #ffffff;
    --blackColor: #000;
}

.margin-bottom {
    margin-bottom: 100px;
}

*{
    font-family: 'Tajawal', sans-serif;
}


/* start header */
header {
    width: 100%;
    background-size: cover;
    background-position: center center;
}
/* start navbar section */
.navbar {
    position: static;
    top: -90px;
    padding: 0;
    z-index: 999;
    font-weight: 400;
    transition: 1s;
}
.navbar.sticky {
    background-color: #fff!important;
    transition: 1s;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 15px rgb(0 0 0 / 15%);
    z-index: 15;
}
.navbar .navbar-brand {
    display: flex !important;
    gap: 5px;
    position: relative;
    overflow: hidden;
}
.navbar .navbar-brand span {
    font-size: 25px;
}
.navbar .navbar-brand .nav-img-1 {
    width: 40px;
}
.navbar .navbar-brand .nav-img-2 {
    display: none;
    width: 40px;
}
.navbar .navbar-toggler {
    border: none;
}
.navbar .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}
.navbar .navbar-toggler-icon {
    background-image: none;
}
.navbar .navbar-toggler-icon i {
    color: #fff;
    font-size: 23px;
}
.navbar .nav-link {
    color: var(--whiteColor) !important;
    position: relative;
}
.navbar .nav-link::after {
    content: "";
    position: absolute;
    background-color: var(--whiteColor);
    height: 2px;
    width: 0;
    left: 0;
    bottom: 3px;
    transition: 1s;
}
.navbar .nav-link:hover::after {
    width: 100%;
}
.navbar #language-selector {
    background-color: var(--cyanGreenColor);
    color: var(--whiteColor);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}
.navbar #language-selector:focus {
    outline: none;
    box-shadow: none !important;
}
.navbar #language-selector option {
    background-color: var(--grayColor);
}
.navbar .dropdown-menu {
    padding: 10px;
    margin-top: 2px;
    text-align: right;
}
.navbar .dropdown-menu a {
    color: var(--navyBlue);
    font-weight: bold;
}
.navbar .dropdown-menu a:hover {
    background-color: var(--cyanGreenColor);
    border-radius: 20px;
}
.navbar .dropdown:hover .dropdown-menu {
    display: block;
}
.sticky .navbar-brand {
    display: flex;
}
.sticky .navbar-brand .nav-img-1 {
    display: none;
}
.sticky .navbar-brand .nav-img-2 {
    display: block;
}
.sticky .navbar-brand span {
    color: var(--navyBlue);
    margin-left: 5px;
}
.sticky .nav-link,
.sticky .navbar-toggler-icon i {
    color: var(--navyBlue) !important;
    font-size: 18px;
}
.sticky .nav-link::after {
    background-color: var(--cyanGreenColor);
}
/* end navbar section */

/* start hero section */
.hero-section {
    position: relative;
    width: 100%;
    margin-top: 150px;
}
.hero-section .hero-content h2 {
    color: #fff;
    font-size: 50px;
}

/* media querry */
@media (max-width:991px) {
    .hero-section {
        margin-top: 30px;
    }
}
@media (max-width:575px) {
    .hero-section {
        margin-top: 100px;
    }
    .hero-section .hero-content h2 {
        font-size: 30px;
    }
}
/* end hero section */

/* end header */



/* start footer */
footer {
    border-top: 1px solid #ebe9e9;
    padding-top: 10px;
}
footer ul {
    list-style: none;
}
footer .ul-right {
    position: relative;
}
footer .ul-right li:not(:last-child):after {
    content: '|';
    position: absolute;
    margin-right: 150px;
    bottom: 20%;
}
.socail {
    justify-content: left;
}
footer ul li a,
.socail a {
    color: var(--navyBlue) !important;
}
/* end footer */